[Unit]
Description=DisplayController Service
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/ElectricNose/DisplayController
ExecStart=/usr/bin/python3 /home/admin/ElectricNose/DisplayController/display/display_main.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/display_service.log
StandardError=append:/var/log/display_service.log

[Install]
WantedBy=multi-user.target