[Unit]
Description=IOHandler Service
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/ElectricNose/DisplayController
ExecStart=/bin/bash /home/admin/ElectricNose/system-services/io_service.sh
Restart=always
RestartSec=5
StandardOutput=append:/var/log/io_service.log
StandardError=append:/var/log/io_service.log

[Install]
WantedBy=multi-user.target
