[Unit]
Description=Sensor Reader Service
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/ElectricNose/OdourRecognizer
ExecStart=/bin/bash /home/admin/ElectricNose/system-services/recognizer_service.sh
Restart=always
RestartSec=5
StandardOutput=append:/var/log/recognizer_service.log
StandardError=append:/var/log/recognizer_service.log

[Install]
WantedBy=multi-user.target
